{% extends 'base/base.html' %}
{% block content %}
    {{ error }}
    <form  method = 'post' enctype="multipart/form-data" action="/base/proper_manage/proper_save">
    <input type="text" required="required" placeholder="配置名" name="variable_name"></input>
            <input type="text" required="required" placeholder="配置值" name="variable_word"></input>
        <button type="submit" class="btn btn-default navbar-btn">提交</button>




</form>
    <table class="table">
        <th></th>
        <th>配置名</th>
        <th>配置值</th>
        <th>修改时间值</th>

        <form class="form-horizontal"  method="GET">
        <!--show ip list-->
          {% if show_list %}
            {% for pp in show_list %}
            <tr>
              <td></td>
              <td>{{ pp.variable_name }}</td>
                <td>{{ pp.variable_word }}</td>
                <td>{{ pp.variable_date }}</td>
            </tr>
            {% endfor %}
          {%endif%}

        </form>
      </table>
{% endblock %}